name: publish

on:
  push:
    branches:
      - master
  workflow_dispatch:

jobs:
  publish:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Setup .NET (with cache)
        uses: actions/setup-dotnet@v4
        with:
          dotnet-version: "9.0.x"
          cache: true
          cache-dependency-path: |
            **/packages.lock.json
            **/*.csproj

      - name: Restore
        run: dotnet restore ./melokafeApi.sln

      - name: Build
        run: dotnet build ./melokafeApi.sln --configuration Release

      - name: Publish
        run: dotnet publish ./melokafeApi.sln --no-build --configuration Release
